<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="https://cdn.bootcss.com/handlebars.js/2.0.0/handlebars.min.js"></script>
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    <link href="css/bootstrap-combobox.css" type="text/css" rel="stylesheet">
        <link href="css/jquery-confirm.min.css" type="text/css" rel="stylesheet">
	<link href="css/album.css" rel="stylesheet">

    <title>My Web</title>

    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="js/d3.v4.min.js"></script>

    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
      <script src="js/jquery-confirm.js"></script>

    <body>
        {{{body}}}

        <script src="js/variable.js"></script>

    </body>

</html>