<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between" style="margin-left:0;">
            <a href="#" class="navbar-brand d-flex align-items-center" style="box-shadow:none;background-color:rgba(0,0,0,0);">
                <strong>首页</strong>
            </a>

        </div>
    </div>
</header>

<main role="main">

    <div class="container">
        <h4 class="jumbotron-heading" style="margin-top: 5%;text-align: center">Hello World</h4>
        <h5 class="jumbotron-heading" style="margin-top: 5%;text-align: center">Welcome to my website! I hope you can have a good experience!</h5>
        <h5 class="jumbotron-heading" style="margin-top: 5%;text-align: center">You can see the demo of the webpage here <a href='/vis'>VIS</a></h5>
    </div>
</main>



<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')
</script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>